body{
    background:#F8C400;    
}

.social-wallpaper {
    position: relative;
    height:300px;

    background-size: cover;
    background-color:#F8C400!important;
}

.card.social-tabs {
    border-top: none;
}

.timeline-right .card,
.timeline-left .card {
    border-top: none;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    transition: all 180ms linear;
}

.timeline-right .card:hover,
.timeline-left .card:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
    transition: all 180ms linear;
}

.timeline-icon {
    z-index: 1;
}

.tab-pane form .md-add-on i {
    font-size: 20px;
}

.wall-elips {
    position: absolute;
    right: 15px;
}



.social-profile {
    position: relative;
    padding-top: 15px;
}

.timeline-btn {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.nav-tabs.md-tabs.tab-timeline li a {
    padding: 20px 0 10px;
    color: #666666;
    font-size: 18px;
}

.social-timeline-left {
    position: absolute;
    top: -200px;
}

.post-input {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    resize: none;
}

.user-box .media-object,
.friend-box .media-object {
    height: 45px;
    width: 45px;
    display: inline-block;
}

.friend-box img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.user-box .media-left {
    position: relative;
}

.chat-header {
    color: #222222;
}

.live-status {
    height: 7px;
    width: 7px;
    position: absolute;
    bottom: 0;
    right: 17px;
    border-radius: 100%;
    border: 1px solid;
}

.tab-timeline .slide {
    bottom: -1px;
}

.image-upload input {
    visibility: hidden;
    max-width: 0;
    max-height: 0
}

.file-upload-lbl {
    max-width: 15px;
    padding: 5px 0 0;
}

.ellipsis::after {
    top: 15px;
    border: none;
    position: absolute;
    content: '\f142';
    font-family: FontAwesome;
}

.elipsis-box {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.11);
    top: 40px;
    right: -10px;
}

.elipsis-box:after {
    content: '';
    height: 13px;
    width: 13px;
    background: #fff;
    position: absolute;
    top: -5px;
    right: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: -3px -3px 11px 1px rgba(170, 170, 170, 0.22);
}

.friend-elipsis {
    left: -10px;
    top: -10px;
}

.social-profile:hover .profile-hvr,
.social-wallpaper:hover .profile-hvr {
    opacity: 1;
    transition: all ease-in-out 0.3s;
}

.profile-hvr {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.61);
    transition: all ease-in-out 0.3s;
}

.social-profile {
    margin: 0 15px;
}

.social-follower {
    text-align: center;
}

.social-follower h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-style: normal;
}

.social-follower h5 {
    font-size: 14px;
    font-weight: 300;
}

.social-follower .follower-counter {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 13px;
}

.social-follower .follower-counter .txt-primary {
    font-size: 24px;
}

.timeline-icon {
    height: 45px;
    width: 45px;
    display: block;
    margin: 0 auto;
    border: 4px #fff solid;
}

.social-timelines-left:after {
    height: 3px;
    width: 25%;
    position: absolute;
    background: #cccccc;
    top: 20px;
    content: "";
    right: 0;
    z-index: 0;
}

.social-timelines:before {
    position: absolute;
    content: ' ';
    width: 3px;
    background: #cccccc;
    left: 4%;
    z-index: 0;
    height: 100%;
    top: 0;
}

.timeline-dot:after,
.timeline-dot:before {
    content: "";
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: #cccccc;
    left: 3.8%;
    border-radius: 100%;
}

.user-box .social-designation,
.post-timelines .social-time {
    font-size: 13px;
}

.social-msg span {
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.view-info .social-label,
.contact-info .social-label,
.work-info .social-label {
    font-size: 15px;
    padding-left: 0;
    padding-top: 0;
}

.view-info .social-user-name,
.contact-info .social-user-name,
.work-info .social-user-name {
    font-size: 14px;
    padding-left: 0;
}

.friend-elipsis .social-designation {
    font-size: 13px;
}

.social-client-description {
    padding-bottom: 20px;
}

.user-box .media-body {
    padding-top: 6px;
}

.timeline-details p {
    padding-top: 10px;
}

.timeline-details .chat-header,
.post-timelines .chat-header {
    font-size: 15px;
}

.social-client-description {
    padding-bottom: 20px;
}

.social-client-description p {
    margin-top: 5px;
}

.social-client-description span {
    font-size: 12px;
    margin-left: 10px;
}

.social-client-description .chat-header {
    font-size: 13px;
}

.social-tabs a {
    font-size: 18px;
}

.timeline-btn a {
    margin-bottom: 20px;
}

.profile-hvr i {
    cursor: pointer;
}

.social-timelines:before {
    position: absolute;
    content: ' ';
    width: 3px;
    background: #cccccc;
    left: 4%;
    z-index: 0;
    height: 100%;
    top: 0;
}

.timeline-dot:after,
.timeline-dot:before {
    content: "";
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: #cccccc;
    left: 3.8%;
    border-radius: 100%;
}

ul#profile-lightgallery {
    display: inline-flex;
}

.social-timeline .btn i {
    margin-right: 0;
}

.card .card-block {
    padding: 25px;
}

.social-follower {
    text-align: center;
}

.media-left {
    padding-right: 20px;
}

.live-status {
    height: 9px;
    width: 9px;
    position: absolute;
    bottom: 0;
    right: 17px;
    border-radius: 100%;
    border: 1px solid;
    top: 5px;
}

.live-status {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    border: 1px solid;
}

.bg-danger {
    background-color: #F8C400!important;
    color: #fff;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.user-box .media-object, .friend-box .media-object {
    height: 45px;
    width: 45px;
    display: inline-block;
    cursor: pointer;
}

.md-tabs .nav-item {
    width: calc(100%/ 4);
    text-align: center;
}

.md-tabs .nav-item .nav-link.active~.slide {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.md-tabs .nav-item .nav-link~.slide {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.tab-timeline .slide {
    bottom: -1px;
}

.nav-tabs .slide {
    background: #4099ff;
    width: calc(100%/ 4);
    height: 4px;
    position: absolute;
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
    bottom: 0;
}

body {
    background:#eee;

}
.page-inner.no-page-title {
    padding-top: 30px;
}
.page-inner {
    position: relative;
    min-height: calc(100% - 56px);
    padding: 20px 30px 40px 30px;
    background: #f3f4f7;
}
.card.card-white {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    padding: 25px;
}
.grid-margin {
    margin-bottom: 2rem;
}
.profile-timeline ul li .timeline-item-header {
    width: 100%;
    overflow: hidden;
}
.profile-timeline ul li .timeline-item-header img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}
.profile-timeline ul li .timeline-item-header p {
    margin: 0;
    color: #000;
    font-weight: 500;
}
.profile-timeline ul li .timeline-item-header p span {
    margin: 0;
    color: #8e8e8e;
    font-weight: normal;
}
.profile-timeline ul li .timeline-item-header small {
    margin: 0;
    color: #8e8e8e;
}
.profile-timeline ul li .timeline-item-post {
    padding: 20px 0 0 0;
    position: relative;
}
.profile-timeline ul li .timeline-item-post > img {
    width: 100%;
}
.timeline-options {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0 10px 0;
}
.timeline-options a {
    display: block;
    margin-right: 20px;
    float: left;
    color: #2b2b2b;
    text-decoration: none;
}
.timeline-options a i {
    margin-right: 3px;
}
.timeline-options a:hover {
    color: #5369f8;
}
.timeline-comment {
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
}
.timeline-comment .timeline-comment-header {
    overflow: hidden;
}
.timeline-comment .timeline-comment-header img {
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.timeline-comment .timeline-comment-header p {
    color: #000;
    float: left;
    margin: 0;
    font-weight: 500;
}
.timeline-comment .timeline-comment-header small {
    font-weight: normal;
    color: #8e8e8e;
}
.timeline-comment p.timeline-comment-text {
    display: block;
    color: #2b2b2b;
    font-size: 14px;
    padding-left: 40px;
}
.post-options {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;
}
.post-options a {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
    float: left;
    color: #2b2b2b;
    text-decoration: none;
    font-size: 16px !important;
}
.post-options a:hover {
    color: #5369f8;
}
.online {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ccc;
}
.online.on {
    background: #2ec5d3;
}
.online.off {
    background: #ec5e69;
}
#cd-timeline::before {
    border: 0;
    background: #f1f1f1;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 14px;
}
.cd-timeline-img.cd-success {
    background: #2ec5d3;
}
.cd-timeline-img.cd-danger {
    background: #ec5e69;
}
.cd-timeline-img.cd-info {
    background: #5893df;
}
.cd-timeline-img.cd-warning {
    background: #f1c205;
}
.cd-timeline-img.cd-primary {
    background: #9f7ce1;
}
.page-inner.full-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.label {
    font-weight: 400;
    padding: 4px 8px;
    font-size: 11px;
    display: inline-block;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}


                        
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}    
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
body{

    background:#FAFAFA;    
}
/*==================================================
  Nearby People CSS
  ==================================================*/

.people-nearby .google-maps{
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #f1f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.people-nearby .google-maps .map{
  height: 300px;
  width: 100%;
  border: none;
}

.people-nearby .nearby-user{
  padding: 20px 0;
  border-top: 1px solid #f1f2f2;
  border-bottom: 1px solid #f1f2f2;
  margin-bottom: 20px;
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 87%;
  left: 41%;
  transform: translate(-50%, -50%);